.DS_Store
node_modules/
/docs/node_modules/
/docs/docs/.vuepress/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/main/dist/
/app/***/dist/
/test/e2e/reports/
selenium-debug.log
/components.d.ts
/.yalc/
/yalc.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.lock